<div class="border"></div>
<div class='cooking-card-contents'>
  <h2 class='title'>レシピランキング</h2>
   <% @all_ranks.each.with_index(1) do |cooking, i| %>
      第<%= i %>位
     <ul class='cooking-lists'>
     <%= render partial: "rank", locals:{ cooking: cooking}%>
     </ul>
   <% end %>
</div>