.header {
  background-color: #f7fef1;
  margin-bottom: 48px;
  padding: 20px 0;
  margin: 0 auto; 
  width: 100%;
  height: 100%;
}
.upper_side {
  width: 1030px;
  margin: 0 auto;
  
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}
.nav-right{
  margin-top: 35px;
}
.logo {
  width: 150px;
  
}


.search-form{
  display: flex;
  margin: 35px auto;
  
}

.search-input{
 width: 300px;
 
}

.search-btn{
  cursor: pointer;
  background-color: #3ccace;
  justify-content: flex-start;
}



/* 全スライド共通スタイル */
.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;

}
.form-wrap {
  width: 100%;
  background-color: white;
  height: 100%;
  
}
.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}
.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.form-text-wrap {
  width: 100%;
  height: 20%;
}
.form-text {
  font-size: 14px;
  font-weight: bold;
}



.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.form-default{
  margin-bottom: 30px;
}
.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}
.register-green-btn {
  width: 100%;
  background: #2deaab;
  border: 1px solid #2deaa2;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: 80px 0px;
}
.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.second-logo {
  height: 125px;
  width: 200px;
}
.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-btn {
  width: 50%;
  margin: 0 auto;
}
.select-box {
  margin: 2vh 0;
}
.first{
  padding: 80px;
  border: 3px solid  yellow;
}
.border{
  border: 10px solid green;
}
.nav_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: green;
  text-decoration: none;
  user-select: none;
  border: 1px yellowgreen solid;
  border-radius: 3px;
  transition: 0.4s ease;
  justify-content: flex-end;
}
.nav_btn:hover{
  color: #fff;
  background: green;
}
.lists-right{
  display: flex;
}
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-fee-btn {
  width: 100%;
  background: #79ea2d;
  border: 1px solid #79ea2d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 100px;
}
.cooking-post-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}
.cooking-post-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}
.cooking-post-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.cooking-new-items {
  padding: 2vh 0;
}
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.cooking-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.cooking-material {
  margin-top: 2vh;
}
.cooking-img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}
.click-upload {
  margin: 15px 0;
  min-width: 250px;
}
.click-upload>p {
  margin-bottom: 15px;
}
.cooking-recipe{
  margin-top: 2vh;
}
.cooking-point-all{
  margin-top: 2vh;
}
.cooking-point{
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.cooking-production-time{
  padding: 2vh 0;
}
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}
.new-img{
  width: 400px;
  object-fit: cover;
}
.filed{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.image-label{
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.view_box{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.cooking-name{
  font-size: 25px;
  
}
.cooking-card-contents {
  background-color: #f7fef1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.cooking-card-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.cooking-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cooking-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
.cooking-img-content {
  position: relative;
}
.sized {
  width: 33vh;
  height: 33vh;
}
.cooking-info{
  background-color: #f7fef1;
  color: black;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.recipe-name{
  font-size: 2.5vh;
  font-style: normal;
}
.recipe-time{
  font-size: 2.5vh;
  font-style: normal;
}
.cooking_card_user{
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
  display: block;
  font-size: 12px;
  text-align: right;
  text-decoration: underline;
}

.contents-details{
 background-color: #f7fef1;
  
}
.img-sized{
  width: 33vh;
  height: 33vh;
  padding: 10px;
}
.details-img-content{
  color: black;
  display: flex;
  justify-content: center;
 
}
.details-list{
  background-color: #f7fef1;
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
 
}
.details-recipe1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #89a18c;
  width: 30%;
  padding: 8px;
}
.details-recipe2{
  text-align: left;
  border: 1px solid #89a18c;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.details-recipe-side1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #89a18c;
  width: 30%;
  padding: 8px;
  
}
.details-recipe-side2{
  text-align: left;
  border: 1px solid #89a18c;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.cooking-manege{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.cooking_btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-size: 0.8em;
}
.cooking_btn:hover{
  color: #fff;
  background: #87CEFA;
}
.cooking-comments{
  background-color: #f6f6f6;
  padding: 20px;
  
}
.field{
  margin: 10px 0;
}
.actions{
  margin-bottom: 40px;
}
.form_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.form_btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.comments_lists{
  padding-left: 20px;
}
.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}
.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}
.main{
  width: 79%;
  display: flex;
  flex-direction: column;
  margin:  auto;
  padding-top: 20px;
}
.page-heading{
  background: #f7fef1;
  
  border-radius: 2px;
  color: #fff;
  
}
.user-details1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #89a18c;
  width: 30%;
  padding: 8px;
}
.user-details2{
  text-align: left;
  border: 1px solid #89a18c;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user-details{
  background: #f7fef1;
  
}
.top-image{
  height: 100%;
  width: 100%;
}
.cooking-video{
  background-color: #f7fef1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}
.cooking-video>.title{
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}
.footer{
  background-color:#f7fef1;
  padding: 10px 0;
}
.contents-img-title{
  width: 100vw;
  height: 100vh;
  background-image: url('Dining-scenery.jpeg');
  display: flex;
  padding: 5vh 15vw;
  flex-direction: column-reverse;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.app-title{
  font-size: 8vh;
}
.apple-btn{
  margin-right: 1vw;
  height: 9vh;
}
.google-btn{
  height: 9vh;
}
.store-btn{
  padding-top: 50px;
}
.contents-row{
  margin: 0px auto;
}

.footer-contents{
  background-image: url('Dining-scenery.jpeg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.footer-explain{
  font-size: 4vh;
  margin-bottom: 2vh;
}
.footer-title{
  font-size: 3vh;
  line-height: 30px;
}
@media (max-width: 1024px) {

}
@media (max-width: 599px) {

}
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: green;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-content {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: green;
  transition: all 0.5s;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;
}
.like-good{
  margin: 20px;
  padding-bottom: 20px;
}
.user-recipe{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.user_wrapper{
  min-height: calc(100vh - 161px);
}
